/* 
    Document   : style.css
    Created on : Aug 2, 2013, 3:00:29 AM
    Author     : mirac
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    color: #ce5151
}