<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Basic Calculator</title>
                <h:outputStylesheet library="css" name="style.css" />
            </f:facet>
        </h:head>

        <h:body>
            <h:form id="form">
                <p:layout fullPage="true">
                    <p:layoutUnit position="center">
                        <p:growl id="growl" showDetail="true" /> 

                        <p:fieldset legend="Calculator" toggleable="true" toggleSpeed="500">
                            <p:ajax event="toggle" listener="#{calculatorBean.handleToggle}" update="growl" />

                            <h:panelGrid id="grid" columns="2" style="margin-bottom:10px"> 
                                <h:panelGrid columns="2" cellpadding="10">
                                    Number 1: <p:inputText value="#{calculatorBean.number1}" size="15" />
                                    Number 2: <p:inputText value="#{calculatorBean.number2}" size="15" />
                                    + | - | * | / : <p:inputText size="2"  value="#{calculatorBean.pointer}" />

                                    <p:commandButton value="Send" id="btnForm" process="@form" update="display"   
                                                     actionListener="#{calculatorBean.calculate}"/>  
                                </h:panelGrid>

                            </h:panelGrid>
                            <h3>Result: <h:outputLabel value="#{calculatorBean.result}" id="display" /></h3>
                        </p:fieldset>

                    </p:layoutUnit>

                    <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                        <h2>My Basic Calculator Application</h2>
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                        &copy;Copyright 2013 - Miraç SATIÇ 
                    </p:layoutUnit>
                </p:layout>
            </h:form>
        </h:body>

    </f:view>
</html>
